In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
data = pd.read_csv('data/train.csv')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

# PRE-PROCESSING

In [26]:
df=data.copy()

In [27]:
# featur ingenering 

# Extraire le groupe à partir de PassengerId
df['Group'] = df['PassengerId'].apply(lambda x: x.split('_')[0])

# Calculer la taille du groupe pour chaque passager
df['GroupSize'] = df.groupby('Group')['PassengerId'].transform('count')

# Créer une colonne indiquant si le passager est seul ou non
df['IsAlone'] = (df['GroupSize'] == 1).astype(int)

In [28]:
df=df.drop(['PassengerId','Name','Group','GroupSize'],axis=1)

In [29]:
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,IsAlone
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1

In [30]:
list_col=list(df.columns)
list_col.remove('IsAlone')
list_col.insert(0,'IsAlone')

In [31]:
df=df[list_col]
df.head()

,IsAlone,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,1,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [32]:
df.shape

(8693, 13)

In [33]:
nan_count = df.isnull().sum()
nan_count

IsAlone           0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

## TrainTest - Nettoyage - Encodage

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
trainset, testset = train_test_split(df,test_size=0.2,random_state=0)

In [36]:
trainset['Transported'].value_counts()

True     3502
False    3452
Name: Transported, dtype: int64

In [37]:
testset['Transported'].value_counts()

True     876
False    863
Name: Transported, dtype: int64

## Encodage

In [14]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

def preprocess_dataframe(df):
    # Copier le dataframe original pour ne pas modifier l'original
    df_processed = df.copy()

    # Appliquer l'encodage one-hot pour les colonnes de type object (catégoriques)
    df_processed = pd.get_dummies(df_processed, drop_first=True)

    # Normalisation des colonnes avec des valeurs numériques (floats et entiers)
    # Identifie les colonnes numériques (int et float)
    numeric_columns = df_processed.select_dtypes(include=['int64', 'float64']).columns

    # Normaliser les colonnes numériques à l'aide de MinMaxScaler (pour les amener entre 0 et 1)
    scaler = MinMaxScaler()
    df_processed[numeric_columns] = scaler.fit_transform(df_processed[numeric_columns])

    # Conversion des colonnes booléennes True/False en 1/0
    bool_columns = df_processed.select_dtypes(include=['bool']).columns
    df_processed[bool_columns] = df_processed[bool_columns].astype(int)

    return df_processed

# Exemple d'utilisation
# data = {
#     'Destination': ['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', 'TRAPPIST-1e'],
#     'Age': [18, 25, 40, 60],
#     'Distance': [0.5, 2.3, 1.1, 0.9],  # Variable numérique continue (float)
#     'Voyage_Possible': [True, False, True, True]  # Variable booléenne
# }

# df = pd.DataFrame(df)
df_processed = preprocess_dataframe(df)

print(df_processed)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [18]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

def preprocess_dataframe(df):
    # Copier le dataframe original pour ne pas modifier l'original
    df_processed = df.copy()

    # Appliquer l'encodage one-hot pour les colonnes de type object (catégoriques)
    df_processed = pd.get_dummies(df_processed, drop_first=True)

    # Remplacer les valeurs infinies par NaN (si elles existent)
    df_processed.replace([np.inf, -np.inf], np.nan, inplace=True)

    # Gérer les valeurs NaN : ici, on choisit de remplacer les NaN par la moyenne de chaque colonne
    df_processed.fillna(df_processed.mean(), inplace=True)

    # Normalisation des colonnes avec des valeurs numériques (floats et entiers)
    # Identifie les colonnes numériques (int et float)
    numeric_columns = df_processed.select_dtypes(include=['int64', 'float64']).columns

    # Normaliser les colonnes numériques à l'aide de MinMaxScaler (pour les amener entre 0 et 1)
    scaler = MinMaxScaler()
    df_processed[numeric_columns] = scaler.fit_transform(df_processed[numeric_columns])

    # Conversion des colonnes booléennes True/False en 1/0
    bool_columns = df_processed.select_dtypes(include=['bool']).columns
    df_processed[bool_columns] = df_processed[bool_columns].astype(int)

    return df_processed

# Exemple d'utilisation
data = {
    'Destination': ['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', 'TRAPPIST-1e'],
    'Age': [18, 25, np.nan, 60],  # Il y a un NaN ici
    'Distance': [0.5, 2.3, np.inf, 0.9],  # Il y a une valeur infinie ici
    'Voyage_Possible': [True, False, True, True]  # Variable booléenne
}

df = pd.DataFrame(data)
df_processed = preprocess_dataframe(df)

print(df_processed)

        Age  Distance  Voyage_Possible  Destination_PSO J318.5-22  \
0  0.000000  0.000000                1                        0.0
1  0.166667  1.000000                0                        1.0
2  0.388889  0.407407                1                        0.0
3  1.000000  0.222222                1                        0.0

   Destination_TRAPPIST-1e
0                      1.0
1                      0.0
2                      0.0
3                      1.0

In [19]:
import numpy as np

def clean_dataframe(df):
    # Remplacer les valeurs infinies par NaN
    df.replace([np.inf, -np.inf], np.nan, inplace=True)

    # Remplacer les NaN par la moyenne de la colonne
    df.fillna(df.mean(), inplace=True)

    return df

In [20]:
import pandas as pd

def apply_one_hot_encoding(df):
    # Appliquer l'encodage one-hot pour les colonnes de type 'object' (catégoriques)
    df_encoded = pd.get_dummies(df, drop_first=True)
    return df_encoded

In [21]:
def convert_booleans_to_integers(df):
    # Rechercher les colonnes de type booléen et les convertir en 1/0
    bool_columns = df.select_dtypes(include=['bool']).columns
    df[bool_columns] = df[bool_columns].astype(int)
    return df

In [22]:
from sklearn.preprocessing import MinMaxScaler

def apply_normalization(df):
    # Identifier les colonnes numériques (int et float)
    numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns

    # Appliquer la normalisation MinMaxScaler
    scaler = MinMaxScaler()
    df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
    
    return df

In [38]:
# Étape 1 : Nettoyer les NaN et valeurs infinies
df_cleaned = clean_dataframe(df)

# Étape 2 : Appliquer l'encodage one-hot
df_encoded = apply_one_hot_encoding(df_cleaned)

# Étape 3 : Convertir les booléens en 1/0
df_converted = convert_booleans_to_integers(df_encoded)

# Étape 4 : Appliquer la normalisation
df_normalized = apply_normalization(df_converted)

# df_normalized est maintenant le dataframe final traité
print(df_normalized)

      IsAlone       Age  RoomService  FoodCourt  ShoppingMall       Spa  \
0         1.0  0.493671     0.000000   0.000000      0.000000  0.000000
1         1.0  0.303797     0.007608   0.000302      0.001064  0.024500
2         0.0  0.734177     0.003001   0.119948      0.000000  0.299670
3         0.0  0.417722     0.000000   0.043035      0.015793  0.148563
4         1.0  0.202532     0.021149   0.002348      0.006428  0.025214
5         1.0  0.556962     0.000000   0.016201      0.000000  0.012986
6         0.0  0.329114     0.002932   0.051622      0.000128  0.000000
7         0.0  0.354430     0.000000   0.000000      0.000000  0.000000
8         1.0  0.443038     0.000000   0.026331      0.000724  0.009639
9         0.0  0.177215     0.000000   0.000000      0.000000  0.000000
10        0.0  0.430380     0.000000   0.000000      0.007395  0.000000
11        0.0  0.569620     0.002722   0.244692      0.025072  0.004909
12        1.0  0.405063     0.005095   0.000000      0.047804  0.000000
13        1.0  0.607595     0.050185   0.000034      0.002767  0.000000
14        1.0  0.354430     0.000558   0.032670      0.000511  0.000089
15        1.0  0.392405     0.002234   0.000000      0.037289  0.000000
16        1.0  0.341772     0.089761   0.004092      0.007395  0.000000
17        1.0  0.303797     0.000000   0.000034      0.000000  0.000000
18        1.0  0.569620     0.000000   0.000000      0.000000  0.000000
19        0.0  0.000000     0.000000   0.000000      0.000000  0.000000
20        0.0  0.177215     0.028757   0.000000      0.000043  0.000000
21        0.0  0.012658     0.000000   0.000000      0.000000  0.000000
22        0.0  0.620253     0.000000   0.000000      0.000000  0.000000
23        0.0  0.367089     0.000000   0.000000      0.007395  0.000000
24        0.0  0.126582     0.000000   0.000000      0.000000  0.000000
25        0.0  0.012658     0.015683   0.000000      0.000000  0.000000
26        0.0  0.088608     0.000000   0.000000      0.000000  0.000000
27        1.0  0.265823     0.068402   0.000067      0.002937  0.000000
28        1.0  0.784810     0.000000   0.000000      0.007395  0.000000
29        1.0  0.189873     0.000000   0.007547      0.000000  0.044538
...       ...       ...          ...        ...           ...       ...
8663      1.0  0.164557     0.000000   0.000000      0.000000  0.000000
8664      1.0  0.405063     0.000000   0.000000      0.000000  0.000000
8665      1.0  0.417722     0.000000   0.000000      0.000000  0.000000
8666      1.0  0.481013     0.001954   0.040519      0.041418  0.009238
8667      1.0  0.367089     0.000000   0.099688      0.007395  0.001250
8668      1.0  0.316456     0.000000   0.000000      0.000000  0.000000
8669      0.0  0.329114     0.000000   0.273706      0.008726  0.000000
8670      0.0  0.240506     0.000000   0.000000      0.000000  0.000000
8671      1.0  0.202532     0.000000   0.000000      0.000000  0.000000
8672      1.0  0.772152     0.000000   0.000000      0.000000  0.000000
8673      1.0  0.354430     0.000000   0.000000      0.000000  0.000000
8674      1.0  0.164557     0.002722   0.000000      0.046186  0.001071
8675      1.0  0.556962     0.071892   0.034046      0.000000  0.000491
8676      1.0  0.278481     0.000000   0.000000      0.000000  0.000000
8677      1.0  0.379747     0.000000   0.000000      0.000000  0.000000
8678      0.0  0.265823     0.000000   0.000000      0.000000  0.000000
8679      0.0  0.253165     0.000000   0.000000      0.000000  0.000000
8680      1.0  0.392405     0.000000   0.000000      0.000000  0.000000
8681      1.0  0.417722     0.000000   0.000000      0.000000  0.000000
8682      0.0  0.329114     0.016752   0.008117      0.021710  0.000000
8683      0.0  0.265823     0.006003   0.000101      0.006343  0.009282
8684      1.0  0.291139     0.000000   0.000000      0.000000  0.000000
8685      0.0  0.000000     0.000000   0.000000      0.000000  0.000000
8686      0.0  0.405063     0.000070   0.038440      0.000000  0.002231
8687      0.0  0.379747     0.000000   0.107604      0.000000  0.000089
8688      1.0  0.518987     0.000000   0.228726      0.000000  0.073322
8689      1.0  0.227848     0.000000   0.000000      0.000000  0.000000
8690      1.0  0.329114     0.000000   0.000000      0.079687  0.000045
8691      0.0  0.405063     0.000000   0.035186      0.000000  0.015753
8692      0.0  0.556962     0.008795   0.157247      0.000000  0.000000

        VRDeck  Transported  HomePlanet_Europa  HomePlanet_Mars    ...     \
0     0.000000            0                  1                0    ...
1     0.001823            1                  0                0    ...
2     0.002030            0                  1                0    ...
3     0.007997            0                  1                0    ...
4     0.000083            1                  0                0    ...
5     0.000000            1                  0                0    ...
6     0.000000            1                  0                0    ...
7     0.012632            1                  0                0    ...
8     0.000000            1                  0                0    ...
9     0.000000            1                  1                0    ...
10    0.000000            1                  1                0    ...
11    0.005138            1                  1                0    ...
12    0.004682            1                  0                1    ...
13    0.000994            0                  0                0    ...
14    0.000290            1                  0                0    ...
15    0.000000            0                  0                0    ...
16    0.000000            0                  0                1    ...
17    0.026395            0                  0                0    ...
18    0.000000            1                  0                1    ...
19    0.000000            1                  0                0    ...
20    0.028136            0                  0                0    ...
21    0.000000            0                  0                0    ...
22    0.000000            0                  0                0    ...
23    0.000000            0                  0                0    ...
24    0.000000            1                  0                0    ...
25    0.000000            0                  0                0    ...
26    0.000000            0                  0                0    ...
27    0.000000            0                  0                1    ...
28    0.000000            1                  1                0    ...
29    0.000000            0                  0                0    ...
...        ...          ...                ...              ...    ...
8663  0.000000            1                  0                0    ...
8664  0.000000            1                  0                0    ...
8665  0.012632            0                  0                0    ...
8666  0.000000            1                  0                0    ...
8667  0.007790            1                  1                0    ...
8668  0.000000            1                  0                1    ...
8669  0.018149            1                  1                0    ...
8670  0.000000            1                  1                0    ...
8671  0.000000            1                  0                0    ...
8672  0.000000            0                  0                0    ...
8673  0.000000            1                  0                0    ...
8674  0.000000            0                  0                0    ...
8675  0.012632            1                  0                0    ...
8676  0.000000            0                  0                0    ...
8677  0.000000            1                  1                0    ...
8678  0.000000            1                  1                0    ...
8679  0.000000            1                  1                0    ...
8680  0.000000            1                  0                0    ...
8681  0.000000            1                  0                0    ...
8682  0.000000            1                  0                0    ...
8683  0.013633            0                  0                0    ...
8684  0.000000            1                  0                0    ...
8685  0.000000            1                  1                0    ...
8686  0.001409            0                  1                0    ...
8687  0.013674            1                  1                0    ...
8688  0.003066            0                  1                0    ...
8689  0.000000            0                  0                0    ...
8690  0.000000            1                  0                0    ...
8691  0.134049            0                  1                0    ...
8692  0.000497            1                  1                0    ...

      Cabin_G/999/S  Cabin_T/0/P  Cabin_T/1/P  Cabin_T/2/P  Cabin_T/2/S  \
0                 0            0            0            0            0
1                 0            0            0            0            0
2                 0            0            0            0            0
3                 0            0            0            0            0
4                 0            0            0            0            0
5                 0            0            0            0            0
6                 0            0            0            0            0
7                 0            0            0            0            0
8                 0            0            0            0            0
9                 0            0            0            0            0
10                0            0            0            0            0
11                0            0            0            0            0
12                0            0            0            0            0
13                0            0            0            0            0
14                0            0            0            0            0
15                0            0            0            0            0
16                0            0            0            0            0
17                0            0            0            0            0
18                0            0            0            0            0
19                0            0            0            0            0
20                0            0            0            0            0
21                0            0            0            0            0
22                0            0            0            0            0
23                0            0            0            0            0
24                0            0            0            0            0
25                0            0            0            0            0
26                0            0            0            0            0
27                0            0            0            0            0
28                0            0            0            0            0
29                0            0            0            0            0
...             ...          ...          ...          ...          ...
8663              0            0            0            0            0
8664              0            0            0            0            0
8665              0            0            0            0            0
8666              0            0            0            0            0
8667              0            0            0            0            0
8668              0            0            0            0            0
8669              0            0            0            0            0
8670              0            0            0            0            0
8671              0            0            0            0            0
8672              0            0            0            0            0
8673              0            0            0            0            0
8674              0            0            0            0            0
8675              0            0            0            0            0
8676              0            0            0            0            0
8677              0            0            0            0            0
8678              0            0            0            0            0
8679              0            0            0            0            0
8680              0            0            0            0            0
8681              0            0            0            0            0
8682              0            0            0            0            0
8683              0            0            0            0            0
8684              0            0            0            0            0
8685              0            0            0            0            0
8686              0            0            0            0            0
8687              0            0            0            0            0
8688              0            0            0            0            0
8689              0            0            0            0            0
8690              0            0            0            0            0
8691              0            0            0            0            0
8692              0            0            0            0            0

      Cabin_T/3/P  Destination_PSO J318.5-22  Destination_TRAPPIST-1e  \
0               0                          0                        1
1               0                          0                        1
2               0                          0                        1
3               0                          0                        1
4               0                          0                        1
5               0                          1                        0
6               0                          0                        1
7               0                          0                        1
8               0                          0                        1
9               0                          0                        0
10              0                          0                        1
11              0                          0                        0
12              0                          0                        1
13              0                          0                        1
14              0                          0                        1
15              0                          0                        1
16              0                          0                        0
17              0                          0                        0
18              0                          0                        1
19              0                          0                        1
20              0                          0                        0
21              0                          0                        1
22              0                          0                        0
23              0                          0                        0
24              0                          0                        1
25              0                          1                        0
26              0                          0                        1
27              0                          0                        1
28              0                          0                        1
29              0                          0                        1
...           ...                        ...                      ...
8663            0                          1                        0
8664            0                          0                        1
8665            0                          0                        1
8666            0                          0                        0
8667            0                          0                        1
8668            0                          0                        1
8669            0                          0                        0
8670            0                          0                        0
8671            0                          1                        0
8672            0                          1                        0
8673            0                          0                        1
8674            0                          0                        1
8675            0                          0                        1
8676            0                          1                        0
8677            0                          0                        0
8678            0                          0                        1
8679            0                          0                        1
8680            0                          0                        1
8681            0                          0                        0
8682            0                          0                        1
8683            0                          0                        1
8684            0                          0                        1
8685            0                          0                        1
8686            0                          0                        1
8687            0                          0                        1
8688            0                          0                        0
8689            0                          1                        0
8690            0                          0                        1
8691            0                          0                        0
8692            0                          0                        1

      VIP_0.0234393404005  VIP_True
0                       0         0
1                       0         0
2                       0         1
3                       0         0
4                       0         0
5                       0         0
6                       0         0
7                       0         0
8                       0         0
9                       0         0
10                      0         0
11                      0         0
12                      0         0
13                      0         0
14                      0         0
15                      0         0
16                      0         0
17                      0         0
18                      0         0
19                      0         0
20                      0         0
21                      0         0
22                      0         0
23                      0         0
24                      0         0
25                      0         0
26                      0         0
27                      0         0
28                      0         0
29                      0         0
...                   ...       ...
8663                    0         0
8664                    0         0
8665                    0         0
8666                    1         0
8667                    0         0
8668                    0         0
8669                    0         0
8670                    0         0
8671                    0         0
8672                    0         0
8673                    0         0
8674                    0         0
8675                    0         0
8676                    0         0
8677                    0         0
8678                    0         0
8679                    0         0
8680                    0         0
8681                    0         0
8682                    0         0
8683                    0         0
8684                    0         0
8685                    0         0
8686                    0         0
8687                    0         0
8688                    0         1
8689                    0         0
8690                    0         0
8691                    0         0
8692                    0         0

[8693 rows x 6575 columns]

In [39]:
df_normalized

,IsAlone,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,...,Cabin_G/999/S,Cabin_T/0/P,Cabin_T/1/P,Cabin_T/2/P,Cabin_T/2/S,Cabin_T/3/P,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_0.0234393404005,VIP_True
0,1.0,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,1.0,0.303797,0.007608,0.000302,0.001064,0.024500,0.001823,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.0,0.734177,0.003001,0.119948,0.000000,0.299670,0.002030,0,1,0,...,0,0,0,0,0,0,0,1,0,1
3,0.0,0.417722,0.000000,0.043035,0.015793,0.148563,0.007997,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,1.0,0.202532,0.021149,0.002348,0.006428,0.025214,0.000083,1,0,0,...,0,0,0,0,0,0,0,1,0,0
5,1.0,0.556962,0.000000,0.016201,0.000000,0.012986,0.000000,1,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0.0,0.329114,0.002932,0.051622,0.000128,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
7,0.0,0.354430,0.000000,0.000000,0.000000,0.000000,0.012632,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8,1.0,0.443038,0.000000,0.026331,0.000724,0.009639,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.0,0.177215,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
10,0.0,0.430380,0.000000,0.000000,0.007395,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,1,0,0
11,0.0,0.569620,0.002722,0.244692,0.025072,0.004909,0.005138,1,1,0,...,0,0,0,0,0,0,0,0,0,0
12,1.0,0.405063,0.005095,0.000000,0.047804,0.000000,0.004682,1,0,1,...,0,0,0,0,0,0,0,1,0,0
13,1.0,0.607595,0.050185,0.000034,0.002767,0.000000,0.000994,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,1.0,0.354430,0.000558,0.032670,0.000511,0.000089,0.000290,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15,1.0,0.392405,0.002234,0.000000,0.037289,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,1.0,0.341772,0.089761,0.004092,0.007395,0.000000,0.000000,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,1.0,0.303797,0.000000,0.000034,0.000000,0.000000,0.026395,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1.0,0.569620,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,...,0,0,0,0,0,0,0,1,0,0
19,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
20,0.0,0.177215,0.028757,0.000000,0.000043,0.000000,0.028136,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0.0,0.012658,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,0.0,0.620253,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0.0,0.367089,0.000000,0.000000,0.007395,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0.0,0.126582,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
25,0.0,0.012658,0.015683,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0.0,0.088608,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,1.0,0.265823,0.068402,0.000067,0.002937,0.000000,0.000000,0,0,1,...,0,0,0,0,0,0,0,1,0,0
28,1.0,0.784810,0.000000,0.000000,0.007395,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,1,0,0
29,1.0,0.189873,0.000000,0.007547,0.000000,0.044538,0.000000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8663,1.0,0.164557,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,1,0,0,0
8664,1.0,0.405063,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8665,1.0,0.417722,0.000000,0.000000,0.000000,0.000000,0.012632,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8666,1.0,0.481013,0.001954,0.040519,0.041418,0.009238,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,1,0
8667,1.0,0.367089,0.000000,0.099688,0.007395,0.001250,0.007790,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8668,1.0,0.316456,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,...,0,0,0,0,0,0,0,1,0,0
8669,0.0,0.329114,0.000000,0.273706,0.008726,0.000000,0.018149,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8670,0.0,0.240506,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8671,1.0,0.202532,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,1,0,0,0
8672,1.0,0.772152,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8673,1.0,0.354430,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8674,1.0,0.164557,0.002722,0.000000,0.046186,0.001071,0.000000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8675,1.0,0.556962,0.071892,0.034046,0.000000,0.000491,0.012632,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8676,1.0,0.278481,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8677,1.0,0.379747,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8678,0.0,0.265823,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8679,0.0,0.253165,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8680,1.0,0.392405,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8681,1.0,0.417722,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8682,0.0,0.329114,0.016752,0.008117,0.021710,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8683,0.0,0.265823,0.006003,0.000101,0.006343,0.009282,0.013633,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8684,1.0,0.291139,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8685,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8686,0.0,0.405063,0.000070,0.038440,0.000000,0.002231,0.001409,0,1,0,...,0,0,0,0,0,0,0,1,0,0
8687,0.0,0.379747,0.000000,0.107604,0.000000,0.000089,0.013674,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8688,1.0,0.518987,0.000000,0.228726,0.000000,0.073322,0.003066,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8689,1.0,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8690,1.0,0.329114,0.000000,0.000000,0.079687,0.000045,0.000000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8691,0.0,0.405063,0.000000,0.035186,0.000000,0.015753,0.134049,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8692,0.0,0.556962,0.008795,0.157247,0.000000,0.000000,0.000497,1,1,0,...,0,0,0,0,0,0,0,1,0,0